body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Mulish', sans-serif;
  font-size: 4.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.25rem;
}
.display-2 {
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.36rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.94rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffa800 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a86f00 !important;
  border-color: #a86f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a86f00 !important;
  border-color: #a86f00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffa800;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a86f00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffa800 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #996500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffa800;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffeecc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tkJ2b5ktNx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cid-tkJ2b5ktNx .navbar-dropdown {
  position: relative !important;
}
.cid-tkJ2b5ktNx .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkJ2b5ktNx .dropdown-menu {
  padding: 0;
}
.cid-tkJ2b5ktNx .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tkJ2b5ktNx .dropdown-item:hover,
.cid-tkJ2b5ktNx .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tkJ2b5ktNx .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 0.5em !important;
  font-size: 14px;
}
.cid-tkJ2b5ktNx .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tkJ2b5ktNx .nav-link {
  position: relative;
  color: white;
}
.cid-tkJ2b5ktNx .container {
  display: flex;
  margin: auto;
}
.cid-tkJ2b5ktNx .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-tkJ2b5ktNx .navbar-caption {
  padding-right: 4rem;
}
.cid-tkJ2b5ktNx .dropdown-menu,
.cid-tkJ2b5ktNx .navbar.opened {
  background: #000000 !important;
}
.cid-tkJ2b5ktNx .nav-item:focus,
.cid-tkJ2b5ktNx .nav-link:focus {
  outline: none;
}
.cid-tkJ2b5ktNx .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tkJ2b5ktNx .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tkJ2b5ktNx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-tkJ2b5ktNx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkJ2b5ktNx .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tkJ2b5ktNx .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tkJ2b5ktNx .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: none;
  background: transparent;
}
.cid-tkJ2b5ktNx .navbar:not(.navbar-short) {
  border-bottom: none;
}
.cid-tkJ2b5ktNx .navbar.opened {
  transition: all .3s;
}
.cid-tkJ2b5ktNx .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-tkJ2b5ktNx .navbar .navbar-logo img {
  width: auto;
}
.cid-tkJ2b5ktNx .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tkJ2b5ktNx .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tkJ2b5ktNx .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tkJ2b5ktNx .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-tkJ2b5ktNx .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tkJ2b5ktNx .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tkJ2b5ktNx .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tkJ2b5ktNx .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tkJ2b5ktNx .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-tkJ2b5ktNx .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-tkJ2b5ktNx .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tkJ2b5ktNx .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tkJ2b5ktNx .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tkJ2b5ktNx .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tkJ2b5ktNx .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tkJ2b5ktNx .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-tkJ2b5ktNx .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tkJ2b5ktNx .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tkJ2b5ktNx .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tkJ2b5ktNx .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tkJ2b5ktNx .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0;
    margin-top: 2px;
    padding-bottom: .5rem;
  }
}
.cid-tkJ2b5ktNx .navbar.navbar-short {
  min-height: 60px;
}
.cid-tkJ2b5ktNx .navbar.navbar-short .navbar-unity {
  display: none;
}
.cid-tkJ2b5ktNx .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-tkJ2b5ktNx .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tkJ2b5ktNx .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tkJ2b5ktNx .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tkJ2b5ktNx .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tkJ2b5ktNx .dropdown-item.active,
.cid-tkJ2b5ktNx .dropdown-item:active {
  background-color: transparent;
}
.cid-tkJ2b5ktNx .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tkJ2b5ktNx .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tkJ2b5ktNx .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tkJ2b5ktNx .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-tkJ2b5ktNx .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tkJ2b5ktNx .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tkJ2b5ktNx ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tkJ2b5ktNx .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tkJ2b5ktNx button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-tkJ2b5ktNx button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tkJ2b5ktNx button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-tkJ2b5ktNx button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-tkJ2b5ktNx button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-tkJ2b5ktNx button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-tkJ2b5ktNx nav.opened .hamburger span {
  background-color: #ffffff;
}
.cid-tkJ2b5ktNx nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tkJ2b5ktNx nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-tkJ2b5ktNx nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-tkJ2b5ktNx nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tkJ2b5ktNx .navbar-dropdown {
  padding-bottom: 5px;
}
.cid-tkJ2b5ktNx a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tkJ2b5ktNx .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 1rem;
  padding-top: 2px;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tkJ2b5ktNx .navbar {
    height: 77px;
  }
  .cid-tkJ2b5ktNx .navbar.opened {
    height: auto;
  }
  .cid-tkJ2b5ktNx .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tkJ2b5ktNx .navbar .btn {
  margin: 0;
  text-transform: uppercase;
  color: #000000 !important;
}
.cid-tkJ2b5ktNx .navbar .btn:hover {
  color: #000000 !important;
}
.cid-tkJ2b5ktNx .navbar .btn .mbr-iconfont-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #ffa800;
  font-size: 12px !important;
  font-weight: 700;
  padding: 3px 0px 0px 2px;
  background: black;
  border-radius: 3px;
}
.cid-tkJ2b5ktNx .navbar-unity {
  width: 100%;
  padding-top: 3px;
  border-bottom: 1px solid #8B8989;
  margin-bottom: 15px;
}
.cid-tkJ2b5ktNx .navbar-unity .nav-link {
  font-size: 12px;
}
.cid-tkJ2ct2U1Z {
  background-image: url("../../../assets/images/bg-cover-1440x774.png");
}
.cid-tkJ2ct2U1Z .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJ2ct2U1Z .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJ2ct2U1Z .mbr-section-title {
  color: #ffffff;
}
.cid-tkJ2ct2U1Z .btn {
  font-size: 20px;
  color: #000 !important;
}
.cid-tkJ2ct2U1Z .btn:hover {
  color: #000 !important;
}
.cid-tkJ2ct2U1Z .btn .mbr-iconfont-btn {
  display: inline-block;
  width: 22px;
  height: 22px;
  color: #ffa800;
  font-size: 15px !important;
  font-weight: 700;
  padding: 4px 0px 0px 2px;
  background: black;
  border-radius: 3px;
}
.cid-tkJ4kJmM8r {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: transparent;
  position: relative;
  top: -100px;
}
.cid-tkJ4kJmM8r .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tkJ4kJmM8r .mbr-text {
  color: #ffffff;
}
.cid-tkJ4kJmM8r .mbr-section-title {
  color: #ffffff;
}
.cid-tkJ4kJmM8r .text-green {
  color: #99CA3C;
}
.cid-tkJ4kJmM8r .bg-blue {
  background: #093D5A;
}
.cid-tkJ4kJmM8r .row {
  background: #093D5A;
  margin-right: -500px;
  padding-right: 500px;
  left: 200px;
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 60px;
  position: relative;
}
@media (max-width: 991px) {
  .cid-tkJ4kJmM8r {
    top: 0 !important;
    background: #093D5A;
  }
  .cid-tkJ4kJmM8r .row {
    left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
}
.cid-tkJ4sgUU4S {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tkJ4sgUU4S .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJ4sgUU4S .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJ4sgUU4S .mbr-section-title {
  color: #99ca3c;
}
.cid-tkJ4sgUU4S .mbr-section-subtitle {
  color: #545353;
  line-height: 1.3em;
}
.cid-tkJ4tzGbBi {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tkJ4tzGbBi img,
.cid-tkJ4tzGbBi .item-img {
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-tkJ4tzGbBi .item:focus,
.cid-tkJ4tzGbBi span:focus {
  outline: none;
}
.cid-tkJ4tzGbBi .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tkJ4tzGbBi .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tkJ4tzGbBi .item-wrapper .item-content {
    padding: 2rem;
    position: absolute;
    top: 230px;
  }
}
@media (max-width: 991px) {
  .cid-tkJ4tzGbBi .item-wrapper .item-content {
    padding: 1rem;
  }
  .cid-tkJ4tzGbBi .item-wrapper .mbr-text,
  .cid-tkJ4tzGbBi .item-wrapper .mbr-section-btn {
    color: #545353;
  }
  .cid-tkJ4tzGbBi .item-wrapper .item-title {
    color: #545353;
  }
}
.cid-tkJ4tzGbBi .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tkJ4tzGbBi .mbr-section-title {
  color: #232323;
}
.cid-tkJ4tzGbBi .mbr-text,
.cid-tkJ4tzGbBi .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tkJ4tzGbBi .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-tkJ4tzGbBi .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-tkJ4tzGbBi .item li {
  padding-bottom: 10px;
}
.cid-tkJ53KemPB {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
@media (min-width: 991px) {
  .cid-tkJ53KemPB {
    background-position-y: 200px;
  }
}
.cid-tkJ53KemPB img,
.cid-tkJ53KemPB .item-img {
  width: 100%;
  padding: 0 2rem;
}
.cid-tkJ53KemPB .item:focus,
.cid-tkJ53KemPB span:focus {
  outline: none;
}
.cid-tkJ53KemPB .item {
  cursor: pointer;
  margin-bottom: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  height: 380px;
}
.cid-tkJ53KemPB .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #093d5a;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tkJ53KemPB .item-wrapper .item-content {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .cid-tkJ53KemPB .item-wrapper .item-content {
    padding: 20px;
  }
}
.cid-tkJ53KemPB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tkJ53KemPB .mbr-section-title {
  color: #545353;
}
.cid-tkJ53KemPB .mbr-text,
.cid-tkJ53KemPB .mbr-section-btn {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.cid-tkJ53KemPB .item-title {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
}
.cid-tkJ53KemPB .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-tkJ53KemPB .item-content {
  height: 200px;
}
.cid-tkJ4Y3JuJ2 {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tkJ4Y3JuJ2 .btn {
  font-size: 20px;
  color: #000 !important;
}
.cid-tkJ4Y3JuJ2 .btn:hover {
  color: #000 !important;
}
.cid-tkJ4Y3JuJ2 .btn .mbr-iconfont-btn {
  display: inline-block;
  width: 22px;
  height: 22px;
  color: #ffa800;
  font-size: 15px !important;
  font-weight: 700;
  padding: 4px 0px 0px 2px;
  background: black;
  border-radius: 3px;
}
.cid-tkJ55PztaN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fbfbfb;
}
.cid-tkJ55PztaN img,
.cid-tkJ55PztaN .item-img {
  width: 100%;
}
.cid-tkJ55PztaN .mbr-section-title {
  color: #545353;
}
.cid-tkJ9NcwwWZ {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tkJ9NcwwWZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJ9NcwwWZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJ9NcwwWZ .mbr-section-title {
  color: #545353;
}
.cid-tkJ9mGBsZy {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tkJ9mGBsZy a {
  margin: 5px;
  display: inline-block !important;
}
.cid-tkJ9mGBsZy img,
.cid-tkJ9mGBsZy .item-img {
  width: initial;
  max-height: 250px;
  display: inline-block !important;
}
.cid-tkJecrJS53 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #093d5a;
}
.cid-tkJecrJS53 .item:focus,
.cid-tkJecrJS53 span:focus {
  outline: none;
}
.cid-tkJecrJS53 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tkJecrJS53 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tkJecrJS53 .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tkJecrJS53 .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tkJecrJS53 .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tkJecrJS53 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tkJecrJS53 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tkJecrJS53 .mbr-section-title {
  color: #ffffff;
}
.cid-tkJecrJS53 .mbr-text,
.cid-tkJecrJS53 .mbr-section-btn {
  text-align: left;
}
.cid-tkJecrJS53 .item-title {
  text-align: left;
  color: #232323;
}
.cid-tkJecrJS53 .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-tkJhe1VBPB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/bg-building.png");
}
.cid-tkJhe1VBPB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJhe1VBPB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJhe1VBPB .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tkJiAcuM4K {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-tkJiAcuM4K .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJiAcuM4K .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJiAcuM4K .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tkJiAcuM4K .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-tkJiAcuM4K .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tkJiAcuM4K .list {
  list-style: none;
  padding-left: 0;
  line-height: 1.3em;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tkJiAcuM4K .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tkJiAcuM4K .list {
    margin-bottom: 0rem;
  }
}
.cid-tkJiAcuM4K .mbr-text {
  color: #bbbbbb;
}
.cid-tkJiAcuM4K .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tkJiAcuM4K .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tkJiAcuM4K div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tkJiAcuM4K .copyright {
  text-align: left;
}
.cid-tkJiAcuM4K .footer-title {
  border-bottom: 1px solid #bbbbbb;
  line-height: 1.6;
}
.cid-tkJiAcuM4K .copyright-style {
  font-size: 0.8rem;
}
.cid-tkJiAcuM4K .hotline {
  font-weight: bold;
  color: #99ca3c;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .cid-tkJiAcuM4K {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .cid-tkJiAcuM4K .row {
    text-align: center;
  }
  .cid-tkJiAcuM4K .row > div {
    margin: auto;
  }
  .cid-tkJiAcuM4K .social-row {
    justify-content: center;
  }
  .cid-tkJiAcuM4K .media-wrap img {
    width: auto;
  }
  .cid-tkJiAcuM4K .row > div {
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 2rem;
  }
  .cid-tkJiAcuM4K .footer-title {
    text-align: left;
  }
}
.cid-tkJiAcuM4K .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tkJiAcuM4K .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tkJiAcuM4K .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-tkJiAcuM4K .bg-twitter:hover {
  background: #0c85d0;
}
.cid-tkJiAcuM4K .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tkJiAcuM4K .bg-instagram:hover {
  background: #bd005c;
}
.cid-tkJiAcuM4K .bg-linkedin {
  background: #0077b5;
  color: #ffffff;
}
.cid-tkJiAcuM4K .bg-linkedin:hover {
  background: #005582;
}
.cid-tkJiAcuM4K .bg-youtube {
  background: #ff0000;
  color: #ffffff;
}
.cid-tkJiAcuM4K .bg-youtube:hover {
  background: #cc0000;
}
.cid-tkJiAcuM4K .iconfont-wrapper {
  display: inline-block;
  font-size: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tkJiAcuM4K [class^="socicon-"]:before,
.cid-tkJiAcuM4K [class*=" socicon-"]:before {
  line-height: 35px;
  padding: .4rem;
}
.cid-tkJiAcuM4K .m-2 {
  margin: 0.2rem!important;
}
.cid-tkJiB2loUV {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-tkJiB2loUV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkJiB2loUV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkJiB2loUV .card-wrapper {
  background: #000000;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tkJiB2loUV .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tkJiB2loUV .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tkJiB2loUV .card-wrapper {
    padding: 4rem;
  }
}
.cid-tkJiB2loUV .mbr-text,
.cid-tkJiB2loUV .mbr-section-btn {
  color: #bbbbbb;
}
.cid-tkJiB2loUV .card-title,
.cid-tkJiB2loUV .card-box {
  text-align: left;
}
.cid-tkJiB2loUV .display-7 {
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .cid-tkJiB2loUV .mbr-section-btn {
    text-align: left;
  }
  .cid-tkJiB2loUV .card-wrapper {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.cid-tkJiB2loUV .copyright-style {
  color: #bbbbbb;
}
