@font-face {
   font-family: 'Questrial';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/mobirise/vietnambestplacetowork/2025/employerofchoice/fonts/Questrial/regular.ttf') format('truetype');
}
