.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Questrial', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Questrial', sans-serif;
  font-size: 2.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-4 {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffa800 !important;
}
.bg-success {
  background-color: #ffa800 !important;
}
.bg-info {
  background-color: #087096 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a86f00 !important;
  border-color: #a86f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a86f00 !important;
  border-color: #a86f00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #087096 !important;
  border-color: #087096 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #043344 !important;
  border-color: #043344 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #043344 !important;
  border-color: #043344 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #a86f00 !important;
  border-color: #a86f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a86f00 !important;
  border-color: #a86f00 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffa800;
  color: #ffa800;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a86f00 !important;
  background-color: transparent!important;
  border-color: #a86f00 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #087096;
  color: #087096;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #043344 !important;
  background-color: transparent!important;
  border-color: #043344 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #087096 !important;
  border-color: #087096 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ffa800;
  color: #ffa800;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #a86f00 !important;
  background-color: transparent!important;
  border-color: #a86f00 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffa800 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #ffa800 !important;
}
.text-info {
  color: #087096 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #996500 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #996500 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #032835 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffa800;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #087096;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffa800;
  border-color: #ffa800;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffa800;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffeecc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffeecc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #2abef4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffa800 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ffa800;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffa800;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffa800;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffa800;
  border-bottom-color: #ffa800;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffa800 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffa800' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tCH0Pgv80I {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tCH0Pgv80I nav.navbar {
  position: fixed;
}
.cid-tCH0Pgv80I .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tCH0Pgv80I .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tCH0Pgv80I .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tCH0Pgv80I .dropdown-item:hover,
.cid-tCH0Pgv80I .dropdown-item:focus {
  background: #ffa800 !important;
  color: white !important;
}
.cid-tCH0Pgv80I .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tCH0Pgv80I .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tCH0Pgv80I .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tCH0Pgv80I .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tCH0Pgv80I .nav-link {
  position: relative;
}
.cid-tCH0Pgv80I .container {
  display: flex;
  margin: auto;
}
.cid-tCH0Pgv80I .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tCH0Pgv80I .dropdown-menu,
.cid-tCH0Pgv80I .navbar.opened {
  background: #ffffff !important;
}
.cid-tCH0Pgv80I .nav-item:focus,
.cid-tCH0Pgv80I .nav-link:focus {
  outline: none;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tCH0Pgv80I .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tCH0Pgv80I .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tCH0Pgv80I .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tCH0Pgv80I .navbar.opened {
  transition: all 0.3s;
}
.cid-tCH0Pgv80I .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tCH0Pgv80I .navbar .navbar-logo img {
  width: auto;
}
.cid-tCH0Pgv80I .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tCH0Pgv80I .navbar.collapsed {
  justify-content: center;
}
.cid-tCH0Pgv80I .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tCH0Pgv80I .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tCH0Pgv80I .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tCH0Pgv80I .navbar.collapsed ul.navbar-nav li {
  margin: auto;
  color: #005670;
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tCH0Pgv80I .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tCH0Pgv80I .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tCH0Pgv80I .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tCH0Pgv80I .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tCH0Pgv80I .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tCH0Pgv80I .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tCH0Pgv80I .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tCH0Pgv80I .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tCH0Pgv80I .navbar.navbar-short {
  min-height: 60px;
}
.cid-tCH0Pgv80I .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tCH0Pgv80I .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tCH0Pgv80I .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tCH0Pgv80I .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tCH0Pgv80I .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tCH0Pgv80I .dropdown-item.active,
.cid-tCH0Pgv80I .dropdown-item:active {
  background-color: transparent;
}
.cid-tCH0Pgv80I .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tCH0Pgv80I .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tCH0Pgv80I .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tCH0Pgv80I .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tCH0Pgv80I .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tCH0Pgv80I .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tCH0Pgv80I ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tCH0Pgv80I .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tCH0Pgv80I button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tCH0Pgv80I a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tCH0Pgv80I .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tCH0Pgv80I .navbar {
    height: 70px;
  }
  .cid-tCH0Pgv80I .navbar.opened {
    height: auto;
  }
  .cid-tCH0Pgv80I .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tCH0Pgv80I li.nav-item a,
.cid-tCH0Pgv80I li.nav-item a:link {
  color: #005670!important;
  font-weight: bold;
}
.cid-tCH0Pgv80I li.nav-item a:hover {
  color: #005670!important;
  text-decoration: underline;
}
.cid-tCH0Pgv80I .btn {
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
}
.cid-tCH0Pgv80I .btn-primary {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #141414;
}
.cid-tCH0Pgv80I a.btn-primary:link,
.cid-tCH0Pgv80I a.btn-primary:hover,
.cid-tCH0Pgv80I a.btn-primary:active,
.cid-tCH0Pgv80I a.btn-primary:visited {
  color: #141414;
}
.cid-tCH0Pgv80I .btn-primary,
.cid-tCH0Pgv80I .btn-primary:active {
  color: #141414!important;
  font-weight: bold;
}
.cid-tCvall3VcL {
  background-image: url("../../../assets/images/bg-cover-homepage-1.jpg");
}
@media (max-width: 768px) {
  .cid-tCvall3VcL {
    min-height: 49vh;
  }
}
.cid-tCvall3VcL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCvall3VcL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCvall3VcL .mbr-section-title {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}
.cid-tCvall3VcL .mbr-text,
.cid-tCvall3VcL .mbr-section-btn {
  color: #ffffff;
}
.cid-tCvall3VcL .btn-primary {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #141414;
}
.cid-tCvall3VcL a.btn-primary:link,
.cid-tCvall3VcL a.btn-primary:hover,
.cid-tCvall3VcL a.btn-primary:active,
.cid-tCvall3VcL a.btn-primary:visited {
  color: #141414;
}
.cid-tCvall3VcL .btn .mbr-iconfont-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #ffa800;
  font-size: 12px !important;
  font-weight: 700;
  padding: 3px 0px 0px 2px;
  background: #141414;
  border-radius: 3px;
}
.cid-tCvall3VcL .btn .mbr-iconfont-btns {
  color: #141414;
}
.cid-tCvall3VcL .btn-primary,
.cid-tCvall3VcL .btn-primary:active {
  color: #141414!important;
  font-weight: bold;
}
.cid-tCCri7iZIm {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCCri7iZIm img,
.cid-tCCri7iZIm .item-img {
  width: 100%;
}
.cid-tCCri7iZIm .item:focus,
.cid-tCCri7iZIm span:focus {
  outline: none;
}
.cid-tCCri7iZIm .item {
  cursor: pointer;
  margin-bottom: 11rem;
  position: relative;
}
.cid-tCCri7iZIm .item-wrapper {
  position: relative;
  height: 110%;
  display: flex;
  margin-bottom: 23rem;
  flex-flow: column nowrap;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCCri7iZIm .item-wrapper .item-content {
    padding: 5rem 4rem 0rem;
  }
  .cid-tCCri7iZIm .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCCri7iZIm .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
@media (max-width: 768px) {
  .cid-tCCri7iZIm .item-wrapper {
    padding: 2rem 1rem 0;
    height: 116%;
  }
}
.cid-tCCri7iZIm .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-tCCri7iZIm .mbr-section-title {
  color: #232323;
}
.cid-tCCri7iZIm .mbr-text,
.cid-tCCri7iZIm .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-tCCri7iZIm .item-title {
  text-align: left;
  color: #232323;
}
.cid-tCCri7iZIm .item-subtitle {
  text-align: center;
}
.cid-tCCri7iZIm .item-content {
  width: 90%;
  height: 50%;
  left: 30px;
  bottom: 122px;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  background: #ececec;
}
@media (max-width: 768px) {
  .cid-tCCri7iZIm .item-content {
    left: 17px;
    height: 56%;
  }
}
.cid-tCCri7iZIm .caption-gift {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.cid-tCCri7iZIm .background-item {
  background-color: #cde8d9 ;
}
.cid-tCCri7iZIm .background-item-1 {
  background-color: #ffdcde;
}
.cid-tCCri7iZIm .background-item-2 {
  background-color: #fe6e48;
}
.cid-tCCri7iZIm .background-item-3 {
  background-color: #bad94f;
}
.cid-tCCri7iZIm .background-item img,
.cid-tCCri7iZIm .background-item-1 img,
.cid-tCCri7iZIm .background-item-2 img,
.cid-tCCri7iZIm .background-item-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.cid-tCCri7iZIm .btn {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .cid-tCCri7iZIm {
    padding-top: 3rem;
  }
  .cid-tCCri7iZIm .item-content {
    width: 80%;
    left: 36px;
    bottom: 432px;
    padding: 2rem;
    height: 39%;
  }
  .cid-tCCri7iZIm .item-wrapper {
    margin-bottom: 22rem;
    height: 172%;
    padding: 0rem 1rem 0;
  }
}
.cid-tCGhtojEvr {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGhtojEvr img,
.cid-tCGhtojEvr .item-img {
  width: 100%;
}
.cid-tCGhtojEvr .item:focus,
.cid-tCGhtojEvr span:focus {
  outline: none;
}
.cid-tCGhtojEvr .item {
  cursor: pointer;
  margin-bottom: 11rem;
  position: relative;
}
.cid-tCGhtojEvr .item-wrapper {
  position: relative;
  height: 110%;
  display: flex;
  margin-bottom: 23rem;
  flex-flow: column nowrap;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCGhtojEvr .item-wrapper .item-content {
    padding: 5rem 4rem 0rem;
  }
  .cid-tCGhtojEvr .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCGhtojEvr .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
@media (max-width: 768px) {
  .cid-tCGhtojEvr .item-wrapper {
    padding: 2rem 1rem 0;
    height: 116%;
  }
}
.cid-tCGhtojEvr .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-tCGhtojEvr .mbr-section-title {
  color: #232323;
}
.cid-tCGhtojEvr .mbr-text,
.cid-tCGhtojEvr .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-tCGhtojEvr .item-title {
  text-align: left;
  color: #232323;
}
.cid-tCGhtojEvr .item-subtitle {
  text-align: center;
}
.cid-tCGhtojEvr .item-content {
  width: 90%;
  height: 50%;
  left: 30px;
  bottom: 122px;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  background: #ececec;
}
@media (max-width: 768px) {
  .cid-tCGhtojEvr .item-content {
    left: 17px;
    height: 56%;
  }
}
.cid-tCGhtojEvr .caption-gift {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.cid-tCGhtojEvr .background-item {
  background-color: #cde8d9 ;
}
.cid-tCGhtojEvr .background-item-1 {
  background-color: #ffdcde;
}
.cid-tCGhtojEvr .background-item-2 {
  background-color: #fe6e48;
}
.cid-tCGhtojEvr .background-item-3 {
  background-color: #a9c8bc;
}
.cid-tCGhtojEvr .background-item img,
.cid-tCGhtojEvr .background-item-1 img,
.cid-tCGhtojEvr .background-item-2 img,
.cid-tCGhtojEvr .background-item-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.cid-tCGhtojEvr .btn {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .cid-tCGhtojEvr {
    padding-top: 0.5rem;
  }
  .cid-tCGhtojEvr .item-content {
    width: 80%;
    left: 36px;
    bottom: 287px;
    padding: 2rem;
    height: 42%;
  }
  .cid-tCGhtojEvr .item-wrapper {
    margin-bottom: 16rem;
    height: 158%;
    padding: 0rem 1rem 0;
  }
  .cid-tCGhtojEvr .item-content-2 {
    width: 80%;
    left: 36px;
    bottom: 275px;
    padding: 2rem;
    height: 49%;
  }
  .cid-tCGhtojEvr .item-wrapper-2 {
    margin-bottom: 26rem;
    height: 141%;
    padding: 0rem 1rem 0;
  }
}
.cid-tCCCgy7H2M {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #093d5a;
}
.cid-tCCCgy7H2M .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCCCgy7H2M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1500px) {
  .cid-tCCCgy7H2M .container {
    max-width: 1400px;
  }
}
.cid-tCCCgy7H2M .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #087096;
  margin-bottom: 2rem;
}
.cid-tCCCgy7H2M .card-wrapper {
  margin-top: 3rem;
}
.cid-tCCCgy7H2M .row {
  justify-content: center;
}
.cid-tCCCgy7H2M .card-box {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  height: 100%;
}
@media (min-width: 991px) {
  .cid-tCCCgy7H2M .card-box {
    padding: 4rem;
  }
}
.cid-tCCCgy7H2M .mbr-section-title {
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-tCCCgy7H2M .card-wrapper {
    margin-top: 1rem;
  }
  .cid-tCCCgy7H2M .card-box {
    min-height: 400px;
    padding: 2rem;
  }
}
.cid-tCCHpURIIZ {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tCCHpURIIZ img,
.cid-tCCHpURIIZ .item-img {
  width: 100%;
}
.cid-tCCHpURIIZ .item:focus,
.cid-tCCHpURIIZ span:focus {
  outline: none;
}
.cid-tCCHpURIIZ .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tCCHpURIIZ .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tCCHpURIIZ .item {
  padding: 0;
  margin: 0;
}
.cid-tCCHpURIIZ .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCCHpURIIZ .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCCHpURIIZ .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCCHpURIIZ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCCHpURIIZ .mbr-section-title {
  color: #232323;
}
.cid-tCCHpURIIZ .btn-primary {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #141414;
}
.cid-tCCHpURIIZ a.btn-primary:link,
.cid-tCCHpURIIZ a.btn-primary:hover,
.cid-tCCHpURIIZ a.btn-primary:active,
.cid-tCCHpURIIZ a.btn-primary:visited {
  color: #141414;
}
.cid-tCCHpURIIZ .btn-primary,
.cid-tCCHpURIIZ .btn-primary:active {
  color: #141414!important;
  font-weight: bold;
}
.cid-tCCHHBd7tm {
  background-image: url("../../../assets/images/for-recruiting-agencies.jpg");
}
.cid-tCCHHBd7tm .mbr-section-title {
  color: #ffffff;
}
.cid-tCCHHBd7tm .mbr-text,
.cid-tCCHHBd7tm .mbr-section-btn {
  color: #ffffff;
}
.cid-tCCHHBd7tm .btn {
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
}
.cid-tCCHHBd7tm .mbr-fullscreen {
  min-height: 38vh!important;
}
@media (max-width: 768px) {
  .cid-tCCHHBd7tm {
    background-position: 69% 50%;
  }
}
.cid-tCCHHBd7tm .btn-primary {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #141414;
}
.cid-tCCHHBd7tm a.btn-primary:link,
.cid-tCCHHBd7tm a.btn-primary:hover,
.cid-tCCHHBd7tm a.btn-primary:active,
.cid-tCCHHBd7tm a.btn-primary:visited {
  color: #141414;
}
.cid-tCCHHBd7tm .btn .mbr-iconfont-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #ffa800;
  font-size: 12px !important;
  font-weight: 700;
  padding: 3px 0px 0px 2px;
  background: #141414;
  border-radius: 3px;
}
.cid-tCCHHBd7tm .btn .mbr-iconfont-btns {
  color: #141414;
}
.cid-tCCHHBd7tm .btn-primary,
.cid-tCCHHBd7tm .btn-primary:active {
  color: #141414!important;
  font-weight: bold;
}
.cid-tCCJWWgEMu {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCCJXAM7bI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCCJXAM7bI img {
  width: 250px;
  margin: auto;
}
.cid-tCCJXAM7bI .card {
  transition: all 0.3s;
  height: fit-content;
  margin-bottom: 0.4rem;
}
@media (min-width: 992px) {
  .cid-tCCJXAM7bI .card {
    max-width: 100%;
  }
}
.cid-tCCJYrLcB4 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCCJZ3rc5w {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCCJZ3rc5w img {
  width: 200px;
  margin: auto;
}
.cid-tCCJZ3rc5w .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tCCJZ3rc5w .card {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .cid-tCCJZ3rc5w .card {
    margin-bottom: 0;
    padding: 0;
  }
}
.cid-tCGlqlX1lF {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGlqlX1lF img {
  width: 200px;
  margin: auto;
}
.cid-tCGlqlX1lF .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tCGlqlX1lF .card {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .cid-tCGlqlX1lF .card {
    margin-bottom: 0;
    padding: 0;
  }
}
.cid-tCCKCY4MDP {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tCCKCY4MDP .card {
  border-radius: 0;
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .cid-tCCKCY4MDP .card {
    border-right: 0px;
    border-bottom: 1px solid white;
  }
}
.cid-tCCKCY4MDP .wrapper {
  padding: 30px 0;
}
.cid-tCCKCY4MDP .mbr-section-title {
  color: #232323;
}
.cid-tCCKCY4MDP .mbr-text,
.cid-tCCKCY4MDP .mbr-section-btn {
  color: #ffffff;
}
.cid-tCCKCY4MDP img {
  width: 140px;
  margin: auto;
}
.cid-tCCKCY4MDP H3 {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-tCCKCY4MDP {
    padding-bottom: 0rem;
  }
}
.cid-tCH2BjhRyu {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-tCGmITTl4z {
  background-image: url("../../../assets/images/banner-survey-5.jpg");
  min-height: 66vh;
}
@media (max-width: 768px) {
  .cid-tCGmITTl4z {
    min-height: 31vh;
  }
}
@media (max-width: 768px) {
  .cid-tCGmITTl4z #jarallax-container-0 > div {
    height: 298.8px!important;
  }
}
.cid-tCH3vCJQfc {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tCH3vCJQfc .mbr-section-subtitle {
  text-align: left;
}
.cid-tCH3vCJQfc li {
  margin-left: -16px;
}
@media (max-width: 768px) {
  .cid-tCH3vCJQfc {
    padding-bottom: 2rem;
  }
}
.cid-tCH3vCJQfc a.text-primary:link,
.cid-tCH3vCJQfc a.text-primary:visited,
.cid-tCH3vCJQfc a.text-primary:actived {
  color: #087096!important;
}
.cid-tCH3vCJQfc a.text-primary:hover {
  color: #087096!important;
  text-decoration: underline;
}
.cid-tCH3vCJQfc ol.text-list li {
  list-style: circle!important;
  margin-left: -25px;
}
.cid-tCH3vCJQfc ol.text-list {
  padding-left: 25px;
}
.cid-tCGHfSHTH6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ececec;
}
@media (max-width: 991px) {
  .cid-tCGHfSHTH6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCGHfSHTH6 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCGHfSHTH6 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCGHfSHTH6 .row {
  flex-direction: row-reverse;
}
.cid-tCGHfSHTH6 ul {
  margin-left: 0;
  padding-left: 17px;
}
.cid-tCGHgrWxPJ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tCGHgrWxPJ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCGHgrWxPJ img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCGHgrWxPJ .text-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .cid-tCGHgrWxPJ {
    padding-top: 0rem;
  }
}
.cid-tCGHgrWxPJ ul {
  margin-left: 0;
  padding-left: 17px;
}
.cid-tCGMZynFfS {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ececec;
}
.cid-tCGMZynFfS .mbr-section-subtitle {
  text-align: left;
}
.cid-tCGMZynFfS li {
  margin-left: -16px;
}
@media (max-width: 768px) {
  .cid-tCGMZynFfS {
    padding-bottom: 2rem;
  }
}
.cid-tCGMZynFfS a.text-primary:link,
.cid-tCGMZynFfS a.text-primary:visited,
.cid-tCGMZynFfS a.text-primary:actived {
  color: #087096!important;
}
.cid-tCGMZynFfS a.text-primary:hover {
  color: #087096!important;
  text-decoration: underline;
}
.cid-tCGMZynFfS ol.text-list li {
  list-style: circle!important;
  margin-left: -25px;
}
.cid-tCGMZynFfS ol.text-list {
  padding-left: 25px;
}
.cid-tCGmEn8M47 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGmEnhwn5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGmEnhwn5 img {
  width: 250px;
  margin: auto;
}
.cid-tCGmEnhwn5 .card {
  transition: all 0.3s;
  height: fit-content;
  margin-bottom: 0.4rem;
}
@media (min-width: 992px) {
  .cid-tCGmEnhwn5 .card {
    max-width: 100%;
  }
}
.cid-tCGmEnnICF {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGmEnunAN {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGmEnunAN img {
  width: 200px;
  margin: auto;
}
.cid-tCGmEnunAN .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tCGmEnunAN .card {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .cid-tCGmEnunAN .card {
    margin-bottom: 0;
    padding: 0;
  }
}
.cid-tCGmEnDF0I {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tCGmEnDF0I img {
  width: 200px;
  margin: auto;
}
.cid-tCGmEnDF0I .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tCGmEnDF0I .card {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .cid-tCGmEnDF0I .card {
    margin-bottom: 0;
    padding: 0;
  }
}
.cid-tCGmEnLrdX {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tCGmEnLrdX .card {
  border-radius: 0;
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .cid-tCGmEnLrdX .card {
    border-right: 0px;
    border-bottom: 1px solid white;
  }
}
.cid-tCGmEnLrdX .wrapper {
  padding: 30px 0;
}
.cid-tCGmEnLrdX .mbr-section-title {
  color: #232323;
}
.cid-tCGmEnLrdX .mbr-text,
.cid-tCGmEnLrdX .mbr-section-btn {
  color: #ffffff;
}
.cid-tCGmEnLrdX img {
  width: 140px;
  margin: auto;
}
.cid-tCGmEnLrdX H3 {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-tCGmEnLrdX {
    padding-bottom: 0rem;
  }
}
.cid-tCGmEnYhxq {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-tCGmEnYhxq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCGmEnYhxq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCGmEnYhxq .card-wrapper {
  background: #000000;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tCGmEnYhxq .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tCGmEnYhxq .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tCGmEnYhxq .card-wrapper {
    padding: 4rem;
  }
}
.cid-tCGmEnYhxq .mbr-text,
.cid-tCGmEnYhxq .mbr-section-btn {
  color: #bbbbbb;
}
.cid-tCGmEnYhxq .card-title,
.cid-tCGmEnYhxq .card-box {
  text-align: left;
}
.cid-tCGmEnYhxq .display-7 {
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  .cid-tCGmEnYhxq .mbr-section-btn {
    text-align: left;
  }
  .cid-tCGmEnYhxq .card-wrapper {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.cid-tCGmEnYhxq .copyright-style {
  color: #bbbbbb;
}
.cid-tCH0Pgv80I {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tCH0Pgv80I nav.navbar {
  position: fixed;
}
.cid-tCH0Pgv80I .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tCH0Pgv80I .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tCH0Pgv80I .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tCH0Pgv80I .dropdown-item:hover,
.cid-tCH0Pgv80I .dropdown-item:focus {
  background: #ffa800 !important;
  color: white !important;
}
.cid-tCH0Pgv80I .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tCH0Pgv80I .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tCH0Pgv80I .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tCH0Pgv80I .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tCH0Pgv80I .nav-link {
  position: relative;
}
.cid-tCH0Pgv80I .container {
  display: flex;
  margin: auto;
}
.cid-tCH0Pgv80I .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tCH0Pgv80I .dropdown-menu,
.cid-tCH0Pgv80I .navbar.opened {
  background: #ffffff !important;
}
.cid-tCH0Pgv80I .nav-item:focus,
.cid-tCH0Pgv80I .nav-link:focus {
  outline: none;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tCH0Pgv80I .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tCH0Pgv80I .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tCH0Pgv80I .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tCH0Pgv80I .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tCH0Pgv80I .navbar.opened {
  transition: all 0.3s;
}
.cid-tCH0Pgv80I .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tCH0Pgv80I .navbar .navbar-logo img {
  width: auto;
}
.cid-tCH0Pgv80I .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tCH0Pgv80I .navbar.collapsed {
  justify-content: center;
}
.cid-tCH0Pgv80I .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tCH0Pgv80I .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tCH0Pgv80I .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tCH0Pgv80I .navbar.collapsed ul.navbar-nav li {
  margin: auto;
  color: #005670;
}
.cid-tCH0Pgv80I .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tCH0Pgv80I .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tCH0Pgv80I .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tCH0Pgv80I .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tCH0Pgv80I .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tCH0Pgv80I .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tCH0Pgv80I .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tCH0Pgv80I .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tCH0Pgv80I .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tCH0Pgv80I .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tCH0Pgv80I .navbar.navbar-short {
  min-height: 60px;
}
.cid-tCH0Pgv80I .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tCH0Pgv80I .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tCH0Pgv80I .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tCH0Pgv80I .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tCH0Pgv80I .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tCH0Pgv80I .dropdown-item.active,
.cid-tCH0Pgv80I .dropdown-item:active {
  background-color: transparent;
}
.cid-tCH0Pgv80I .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tCH0Pgv80I .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tCH0Pgv80I .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tCH0Pgv80I .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tCH0Pgv80I .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tCH0Pgv80I .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tCH0Pgv80I ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tCH0Pgv80I .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tCH0Pgv80I button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCH0Pgv80I button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tCH0Pgv80I nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCH0Pgv80I .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tCH0Pgv80I a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tCH0Pgv80I .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tCH0Pgv80I .navbar {
    height: 70px;
  }
  .cid-tCH0Pgv80I .navbar.opened {
    height: auto;
  }
  .cid-tCH0Pgv80I .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tCH0Pgv80I li.nav-item a,
.cid-tCH0Pgv80I li.nav-item a:link {
  color: #005670!important;
  font-weight: bold;
}
.cid-tCH0Pgv80I li.nav-item a:hover {
  color: #005670!important;
  text-decoration: underline;
}
.cid-tCH0Pgv80I .btn {
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
}
.cid-tCH0Pgv80I .btn-primary {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #141414;
}
.cid-tCH0Pgv80I a.btn-primary:link,
.cid-tCH0Pgv80I a.btn-primary:hover,
.cid-tCH0Pgv80I a.btn-primary:active,
.cid-tCH0Pgv80I a.btn-primary:visited {
  color: #141414;
}
.cid-tCH0Pgv80I .btn-primary,
.cid-tCH0Pgv80I .btn-primary:active {
  color: #141414!important;
  font-weight: bold;
}
.cid-tCH2BjhRyu {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
