@font-face {
   font-family: 'Questrial';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/OneDrive%20-%20ANPHABE%20JSC/Local%20Data/Mobirise/vietnambestplacetowork/2023/employerofchoice/fonts/Questrial/regular.ttf') format('truetype');
}
