@font-face {
   font-family: 'Questrial';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///U:/home/quocnt/www/vietnambestplacetowork/2023/employerofchoice/fonts/Questrial/regular.ttf') format('truetype');
}
